@using ArizaApp.Models.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Collections.Generic
@model ArizaApp.Models.Dtos.UpdateFirmDto

@{
    ViewData["Title"] = "DeleteEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Firmayı Sil</h1>

<h3 class="text-danger"><span class="font-weight-bold">@Model.FirmName</span> firmasını silmek istediğinize emin misiniz?</h3>
<h4 class="text-warning">Bu firmayi silmek firmaya bağlı olan  email adreslerini <span class="font-weight-bold">silmeyecektir</span>.</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3 border">
            <label asp-for="FirmName" class="control-label"></label>  
        </dt>
        <dd class = "col-sm-9">
            @Model.FirmName
        </dd>
        <dt class="col-sm-3 border">
            Firmaya Bağlı Mail Adresleri
        </dt>
        <dd class = "col-sm-12">
            <td style="max-width: 200px;">
                @foreach (var emailAddress in (IEnumerable<string>) @ViewBag.Emails)
                {
                    <span class="badge bg-success">@emailAddress</span>
                }
            </td>
        </dd>
    </dl>
    
    <span class="text-sm-center text-danger">Bu işlem geri alınamaz!</span><br>
    <a asp-controller="Firm" asp-action="DeleteFirm" asp-route-id="@Model.Id" class="btn btn-danger btn-sm">Firmayı Sil</a>
</div>