@model ArizaApp.Models.Dtos.UpdateArizaNotificationDto

@{
    ViewData["Title"] = "DeleteEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Email Adresini Sil</h1>

<h3 class="text-danger"><span class="font-weight-bold">@Model.MailSubject</span> konulu arıza kaydını silmek istediğinize emin misiniz?</h3>
<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-3 border">
            <label asp-for="MailSubject" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            @Model.MailSubject
        </dd>
        <dt class="col-sm-3 border">
            <label asp-for="FaultNo" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            @Model.FaultNo
        </dd>
        <dt class="col-sm-3 border">
            <label asp-for="FaultType" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            @Model.FaultType
        </dd>
        <dt class="col-sm-3 border">
            <label asp-for="FailureCause" class="control-label"></label>
        </dt>
        <dd class="col-sm-9 pt-2">
            @Model.FailureCause
        </dd>
        <dt class="col-sm-3 border">
            <label asp-for="Description" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            @Model.Description
        </dd>
        <dt class="col-sm-3 border">
            <label class="control-label">Başlangıç - Bitiş</label>
        </dt>
        <dd class="col-sm-9">
            @Model.StartDate - @Model.EndDate
        </dd>
        <dt class="col-sm-3 border">
            <label asp-for="AffectedFirms" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            @Model.AffectedFirms
        </dd>
        <dt class="col-sm-3 border">
            <label asp-for="AffectedServices" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            @Model.AffectedServices
        </dd>
    </dl>

    <span class="text-sm-center text-danger">Bu işlem geri alınamaz!</span><br>
    <a asp-for="EmailDelete" asp-controller="Notification" asp-action="DeleteArizaNotification" asp-route-id="@Model.Id" class="btn btn-danger btn-sm">Arıza Kaydını Sil</a>
</div>