@model IList<ArizaApp.Models.Entities.ArizaModel>

@{
    ViewBag.Title = "Bildiriler";
    Layout = "_Layout";
}

<a class="btn btn-primary font-weight-bold my-3" asp-action="CreateArizaNotification" asp-controller="Notification">Yeni Bildiri</a>

<table id="getNotifications" class="display table table-bordered" style="width:100%">
    <thead>
    <tr>
        <th style="max-width: 300px">İşlemler</th>
        <th>Bülten No</th>
        <th>Bildirmi Yapan</th>
        <th>Mail Başlığı</th>
        <th>Etkilenen Firmalar</th>
        <th>Bülten Tipi</th>
        <th>Durum</th>
        <th>Öncelik</th>
        <th>Başlangıç</th>
        <th>Bitiş</th>
        <th>Arıza Sebebi</th>
        <th>Alarm</th>
        <th>Etkilenen Servisler</th>
        <th>Arıza Kayıt Tarihi</th>
        <th>Mail Gönderimi</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var n in Model)
    {
        <tr class="text-center">
            <td>
                <a asp-controller="Notification" asp-action="GetNotificationDetails" asp-route-id="@n.Id" class="btn btn-success btn-sm">Detay</a>
                <a asp-controller="Notification" asp-action="UpdateArizaNotification" asp-route-id="@n.Id" class="btn btn-warning btn-sm">Güncelle</a>
                <a asp-controller="Notification" asp-action="DeleteConfirmArizaNotification" asp-route-id="@n.Id" class="btn btn-danger btn-sm">Sil</a>
            </td>
            <td>@n.FaultNo</td>
            <td>@n.NotifiedBy</td>
            <td>@n.MailSubject</td>
            <td>@n.AffectedFirms</td>
            <td>@n.FaultType</td>
            <td>@n.State</td>
            <td>@n.Priority</td>
            <td>@n.StartDate</td>
            <td>@n.EndDate</td>
            <td>@n.FailureCause</td>
            <td>@(n.AlarmStatus ? "Evet" : "Hayır")</td>
            <td>@n.AffectedServices</td>
            <td>@n.CreatedDate.ToString("dd/MM/yyyy HH:mm")</td>
            <td>@(n.SendMail ? "Gönderildi" : "Gönderilmedi")</td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr class="text-center">
        <th style="max-width: 300px">İşlemler</th>
        <th>Bülten No</th>
        <th>Bildirmi Yapan</th>
        <th>Mail Başlığı</th>
        <th>Etkilenen Firmalar</th>
        <th>Bülten Tipi</th>
        <th>Durum</th>
        <th>Öncelik</th>
        <th>Başlangıç</th>
        <th>Bitiş</th>
        <th>Arıza Sebebi</th>
        <th>Alarm</th>
        <th>Etkilenen Servisler</th>
        <th>Arıza Kayıt Tarihi</th>
        <th>Mail Gönderimi</th>
    </tr>
    </tfoot>
</table>

<script >
var columnsToModify = [4, 10, 12];
var table = document.getElementById("getNotifications");
for (var i = 0, row; row = table.rows[i]; i++) {
  for (var j = 0, col; col = row.cells[j]; j++) {
    if(columnsToModify.indexOf(j) !== -1){
      var text = col.innerHTML;
      if (text.length > 30) {
        col.innerHTML = text.substring(0, 30) + "...";
      }
    }
  }
}
</script>