@using ArizaApp.Models.Entities
@model ArizaApp.Models.Dtos.UpdateFirmDto

@{
    ViewData["Title"] = "DeleteEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Email Adresini Sil</h1>

<h3 class="text-danger"><span class="font-weight-bold">@Model.FirmName</span> firmasını silmek istediğinize emin misiniz?</h3>
<h4 class="text-warning">Bu firmayi silmek firmaya bağlı olan  email adreslerini <span class="font-weight-bold">silmeyecektir</span>.</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3 border">
            @Html.DisplayNameFor(model => model.FirmName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FirmName)
        </dd>
        <dt class="col-sm-3 border">
            Firmaya Bağlı Email Adresleri
        </dt>
        <dd class = "col-sm-9">
            <td style="max-width: 200px;">
                    @foreach (var email in (IEnumerable<EmailRecord>) @ViewBag.Emails)
                {
                    <span class="badge badge-primary">@email.EmailAddress </span>
                }
            </td>
        </dd>
    </dl>
    
    <span class="text-sm-center text-danger">Bu işlem geri alınamaz!</span><br>
    <a asp-controller="Data" asp-action="DeleteFirm" asp-route-id="@Model.Id" class="btn btn-danger btn-sm">Firmayı Sil</a>
</div>